.venv/
venv/
env/

__pycache__/
*.py[cod]
*.pyo

.vscode/
.idea/

.DS_Store
.idea/

*.jou
*.log
*.str
*.backup

.Xil/
.cache/
.gen/
.hw/
.ip_user_files/
.runs/
.sim/

*.wdb
*.wcfg
*.vcd

*.temp
*.bak
*.swp
*.swo

*.out
*.err

build/
dist/
*.egg-info